@model WardrobeMVCProject.Models.Sho

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h4>Sho</h4>
<hr />
<div class="row container shoesDetailRow">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h5>@Html.DisplayNameFor(model => model.ShoesName): @Html.DisplayFor(model => model.ShoesName)</h5>
        <h5>@Html.DisplayNameFor(model => model.ShoesType): @Html.DisplayFor(model => model.ShoesType)</h5>
        <h5>@Html.DisplayNameFor(model => model.Color.ColorName): @Html.DisplayFor(model => model.Color.ColorName)</h5>
        <h5>@Html.DisplayNameFor(model => model.Occasion.OccasionName) @Html.DisplayFor(model => model.Occasion.OccasionName)</h5>
        <h5>@Html.DisplayNameFor(model => model.Season.SeasonName) @Html.DisplayFor(model => model.Season.SeasonName)</h5>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="thumbnail">
            <img src="@Html.DisplayFor(model => model.ShoesPhoto)" />
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShoesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
