@model IEnumerable<WardrobeMVCProject.Models.Sho>

<br />
@{
    ViewBag.Title = "Shoes";
}

<h2>Shoes</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <div class="row container shoesIndexRow">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h5>@Html.DisplayNameFor(model => model.ShoesName): @Html.DisplayFor(modelItem => item.ShoesName)</h5>
            <p>
                @Html.ActionLink("Click for More Details", "Details", new { id = item.ShoesID }, new { @class = "btn btn-primary btn-large" })
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="thumbnail">
                <img src="@Html.DisplayFor(modelItem => item.ShoesPhoto)" />
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = item.ShoesID }) |
        @Html.ActionLink("Back to List", "Index")
        @Html.ActionLink("Delete", "Delete", new { id = item.ShoesID })
    </p>
}