@model IEnumerable<WardrobeMVCProject.Models.Bottom>

<br />
@{
    ViewBag.Title = "Bottoms";
}

<h2>Bottoms</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <div class="row container bottomsIndexRow">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h5>@Html.DisplayNameFor(model => model.BottomsName): @Html.DisplayFor(modelItem => item.BottomsName)</h5>
            <p>
                @Html.ActionLink("Click for More Details", "Details", new { id = item.BottomsID }, new { @class = "btn btn-primary btn-large" })
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="thumbnail">
                <img src="@Html.DisplayFor(modelItem => item.BottomsPhoto)" />
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = item.BottomsID }) |
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Delete", "Delete", new { id = item.BottomsID })
    </p>
}